google-cloud-storage
google-cloud-bigquery
pyqrcode
Pillow==9.5.0
pydub
google-api-python-client
opencv-python
pygame
pyzbar
numpy
google-cloud-storage
google-cloud-firestore
firebase-admin
qrcode
openpyxl

% download ffmpeg and add path to the env. 
% download vcredist_x64.exe first and install. Then "pip install pyzbar" if it give you the error
